<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Pokemon Game</h1>
  <button id="load-btn">Load Pokemon</button>
  <div class="form-container">
    <form id="new-pokemon" action="/" method="GET">
      <input type="text" placeholder="Enter a Pokemon name" id="pokemon-name">
      <input type="submit">
    </form>
  </div>
  <div id="slot"></div>
  <script src="main.js"></script>
</body>
</html>
