<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Pokemon Game</h1>
  <button id="load-btn">Load Pokemon</button>
  <div id="slot"></div>
  <script src="main.js"></script>
</body>
</html>
